.custom-input {
    width: 10rem;
    height: 25px;
    padding: 5px;
    font-size: 1४px;    
  }
  
  span{
    color: red;
    vertical-align: super;
  }

  .span{
    vertical-align: text-top;
    font-weight: bolder;
    color: black;
  }

  .span_value{
    vertical-align: text-top;
    font-weight: lighter;
    color:rgb(14, 14, 223)
  }